.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-flow: row;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 2px 3px rgb(140, 139, 139);
}