.Button {
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid gray;
    color: #aab;
    cursor: pointer;
    font: inherit;
    padding: 5px;
    margin: 5px auto 5px auto;
    font-weight: bold;
}

.Button:hover {
    box-shadow: 1px 3px 3px #ccc;
}

.Button:disabled {
    color: gray;
    cursor: not-allowed;
    cursor: not-allowed;
}

.Success {
    color: #0f62bb;
    box-shadow: 1px 3px 3px rgb(140, 139, 139);
}

.Success:hover {
    color: rgb(20, 167, 204);
}

.Danger {
    color: #941b17;
}